.Titles{
display: flex;
  justify-content: center;
}


.domain{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 16%;
  margin-right: 14%;
  flex-wrap: wrap;
}


.first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


.second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


.fourth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


.fifth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


.sixth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


.seventh{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}

.eighth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
}


button {
  width: 75%;
  border-color:  #659ef5;
  border-radius: 50px 50px 50px 50px;
  background-color: white;
  color: #659ef5;
  padding: 5px;
}

p{
  color: gray;
}

