.domain{
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    margin: 2rem;
    width: 25%;
  }




.Titles {
  margin-top: 5rem;
}
  
  p{
    color:lightgrey;
  }

  .first {
    text-align:center ;
    background-color: #ffffff;
    margin: 15px;
    padding: 5rem;
    .comi {
        margin-top: 2rem;
    }
    
  }
  
  .second {
    padding: 5rem;
    margin: 15px;
  }
  .third {
    padding: 5rem;
    margin: 15px;
  }
  .fourth {
    padding: 5rem;
    margin: 15px;
  }
  .fifth {
    padding: 5rem;
    margin: 15px;
  }
  .sixth {
    padding: 5rem;
    margin: 15px;
  }
  .seventh {
    padding: 5rem;
    margin: 15px;
  }
  .eighth {
    padding: 5rem;
    margin: 15px;
  }
  
  button {
    background-color: #ffffff;
    color: #2962ff;
    border-color: #2962ff;
    border-radius: 5px;
    border-width: 1px;
    padding: 0.5rem;
  }
  
  
  .list{
    width: 50%;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;
  }
  